# Tina systemd environment file
# Public Tina host is expected to be reverse proxied at:
# http://cms-lad.s.abu.lan
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=main
GITHUB_PERSONAL_ACCESS_TOKEN=
KV_REST_API_URL=
KV_REST_API_TOKEN=
NEXTAUTH_SECRET=

