#root {
  width: 100%;
  min-height: 100vh;
}

.appShell {
  width: 100%;
  min-height: 100vh;
}

.appShellHome {
  padding-top: 0;
}

@media (max-width: 768px) {
  .appShellWithNavbarOffset {
    padding-top: 80px;
  }
}

@media (min-width: 1024px) {
  .appShellWithNavbarOffset {
    padding-top: 5rem;
  }
}
